* {
    font-family: cursive, Arial, sans-serif;
}

html{
    scroll-padding: 10rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: solid;
}

header {
    background-color: rgb(120, 217, 255);
    color: white;
    border: none;
    border-radius: 5px;
}

header p {
    font-size: 25px;
    padding: 10px; /* Padding inside the border */
    display: inline-block; /* Ensures the border fits closely around the text */
    color: rgb(35, 73, 143);
    text-align: center;
}

.sticky-h2 {
    background-color: rgb(0, 193, 219);
    border-radius: 5px;
    scroll-behavior: smooth;
    border-radius: 5px;
    z-index: 5;
    position: sticky;
    top: .1px; /* Stick 20 pixels from the top of the viewport */
    padding: 10;
    width: 99%;
    margin-top: -3px;
}

body {
    scroll-behavior: smooth;
    background-color: beige;
}
h1 {
    font-size: 40px;
    padding: 10px; /* Padding inside the border */
    display: inline-block; /* Ensures the border fits closely around the text */
    color: rgb(120, 156, 224);
    text-align: center;
}

p,
li {
    list-style-position: inside;
    padding: 0;
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
    color: rgb(120, 156, 224);
    font-family: cursive, Arial, sans-serif;
}

.styled-button {
    background-color: rgb(120, 217, 255);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
}

.styled-button:hover {
    background-color: rgb(118, 157, 240);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.styled-button:active {
    background-color: #d33c00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.styled-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(10, 47, 128);
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

.dotted-text {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
    transition: transform 0.2s;
}

.text-container {
    text-align: center;
    margin-top: 50px;
}

.movie-container{
    position: relative;
    margin: auto;
    width: 1300px; /* Adjust width as needed */
    height: 650px; /* Adjust height as needed */
    padding-top: 20px;
    border: 2px solid #1b3350; /* Border style and color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Clip the pseudo-element inside the container */
}

.movie-container::before {
    content: "";
    position: absolute;
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
    right: 10px; /* Adjust right position */
    bottom: 10px; /* Adjust bottom position */
    background-color: rgb(120, 217, 255); /* Background color of the pseudo-element */
    z-index: -1; /* Place the pseudo-element behind the content */
    border: 2px solid #1b3350; /* Border style and color for the pseudo-element */
    border-radius: 8px; /* Rounded corners for the pseudo-element */
}

.movie-container iframe {
    max-width: 100%; /* Ensure images do not exceed container width */
    height: 310px;
    margin: 3px; /* Adjust margin between images */
}

.movie-container-videos {
    display: flex;
    justify-content: space-around; /* Adjust spacing between images */
    flex-wrap: wrap; /* Allow wrapping to the next line if necessary */
}
/*.border{
    padding: 10px;
    border: 3px solid rgb(120, 156, 224);
    border-top: 3px;
}
*/
.image-container {
    position: relative;
    margin: auto;
    width: 1300px; /* Adjust width as needed */
    height: 650px; /* Adjust height as needed */
    padding-top: 30px;
    border: 2px solid #1b3350; /* Border style and color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Clip the pseudo-element inside the container */
}

.image-container::before {
    content: "";
    position: absolute;
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
    right: 10px; /* Adjust right position */
    bottom: 10px; /* Adjust bottom position */
    background-color: rgb(120, 217, 255); /* Background color of the pseudo-element */
    z-index: -1; /* Place the pseudo-element behind the content */
    border: 2px solid #1b3350; /* Border style and color for the pseudo-element */
    border-radius: 8px; /* Rounded corners for the pseudo-element */
}
.image-container img {
    max-width: 35%; /* Ensure images do not exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Adjust margin between images */
}

.styled-box {
    background-color: #1c6a81 !important; /* Background color of the box */
    border: 2px solid #1b3350; /* Border style and color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
}

.gif {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align vertically in the middle of the text */
    margin: auto;
}

.img-hover {
    transition: transform 0.3s; /* Transition effect */
}

.img-hover:hover {
    transform: scale(1.1); /* Increase the scale when hovering */
}
